

h1 { font-size: 40px; background-color: none; margin: 0px;padding: 0px;  color: black;}
h1 {text-align: center;}

body {background-color: white;
  background-image: url('lum3n--RBuQ2PK_L8-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;}

.avatar{
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: none;
}


p.a{
    font-style: Italic;}

ol.a{list-style: upper-roman;}


a{ color:blue}

input[type=text],select {
    width:40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid gray;
    border-radius:4px;
    box-sizing: border-box;}

input[type=submit] {
    width:20%;
    background-color:black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor:pointer;}

input[type=submit] :hover{
    background-color: black;}

    .navbar {
        overflow: hidden;
        background-color: black;
        position: fixed;
        top: 0;
        width: 30%;
      }
      
      .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .navbar a:hover {
        background: #f1f1f1;
        color: black;
      }
      
      .navbar a.active {
        background-color: #04AA6D;
        color: white;
      }

      .topnav .icon{display:none;}
      
      .main {
        padding: 16px;
        margin-bottom: 30px;
      }

      .responsive{width:100%;height:auto;}

      aside{
        width:30%;
        padding-left:30px;
        margin-left:30px;
        padding-top: 20px;
        margin-top:20px;
        margin-right: 30px;
        padding-right: 30px;
        float: none;
        background-color: lightgray;}

      .item1 { grid-area: header; }
      .grid-container {
        display: grid;
        grid-template-areas:
          'header ';
        gap: 10px;
        background-color: pink;
        padding: 0px;
      }
      .grid-container > div {
        background-color:#FADBD8;
        text-align: center;
        padding: 10px 0;
        font-size: 50px;}
      
